beautifulsoup4==4.12.3
blinker==1.8.2
bs4==0.0.2
click==8.1.7
colorama==0.4.6
Flask==3.0.3
Flask-SQLAlchemy==3.1.1
greenlet==3.0.3
isodate==0.6.1
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
psycopg2==2.9.9
pyparsing==3.1.2
rdflib==7.0.0
setuptools==70.3.0
six==1.16.0
soupsieve==2.5
SQLAlchemy==2.0.31
typing_extensions==4.12.2
Werkzeug==3.0.3