<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="static/images/favicon_io/favicon.ico">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="static/css/new_style.css">

    <title>Chowlk | About</title>

</head>
<body>

    <!--Navbar-->
    <header>
        <nav class="navbar navbar-expand-lg navbar-light py-3 text-dark">
            <div class="container">
                <a class="navbar-brand" href="index">
                    <img id="logo" src="static/images/logos/logo.png" alt="Chowlk logo">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto fw-bold mx-4">
                        <li class="nav-item">
                            <a class="nav-link" href="index">Converter</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="notation">Notation</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="examples">Examples</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="#">About</a>
                        </li>
                    </ul>
                    <a href="https://github.com/oeg-upm/Chowlk" target="_blank"><i class="bi bi-github h4 text-dark"></i></a>
                </div>
            </div>
        </nav>
    </header>

    <!--About us-->
    <section class="pt-3 px-5">
        <div class="container">


            <h3 class="pt-4 pb-2">Adoption</h3>
            <p>Our visual notation is being used to develop ontologies in the following projects and is part of the suite of tools of 
                the <a class="link-dark" href="https://lot.linkeddata.es/">Linked Open Terms</a> methodology.</p>

                <ul>
                    <li><b><a class="link-dark" href="https://cogito.iot.linkeddata.es/">COGITO</a></b><br>
                        <p><a class="link-dark" href="https://cogito-project.eu/">COGITO is a EU funded project</a> that aims to materialize the digitalization benefits for the construction industry by harmonizing Digital Twins with the Building Information Model concept and establishing a digital Construction 4.0 toolbox.</p></li>

                    <li><b><a class="link-dark" href="https://bimerr.iot.linkeddata.es/">BIMERR</a></b><br>
                        <p>BIMERR is a EU funded project which aims to provide a suite of interoperable tools to support AEC stakeholders throughout 
                            the energy efficiency renovation process of existing buildings.</p></li>

                    <li><b><a class="link-dark" href="https://saref.etsi.org/core/v3.1.1/">SAREF</a></b><br>
                        <p>The Smart Applications REFerence (SAREF) ontology is a shared model of consensus that facilitates the 
                            matching of existing assets in the smart applications domain. The following modules / extensions of the SAREF 
                            ontology were constructed using our notation: SAREF Core, SAREF4Building, SAREF4Envi, SAREF4City, SAREF4Agri, 
                            SAREF4Wear, SAREF4Water</p></li>

                    <li><b><a class="link-dark" href="http://delta.iot.linkeddata.es/">DELTA</a></b><br>
                        <p>DELTA is an EU funded project under Horizon 2020. It proposes a demand-response management platform that introduces 
                            scalability and adaptiveness into the Aggregator’s DR toolkits.</p></li>

                    <li><b><a class="link-dark" href="http://vicinity.iot.linkeddata.es/vicinity/">VICINITY</a></b><br>
                        <p>VICINITY is an EU funded project under Horizon 2020. It proposes a platform and ecosystem that provides “interoperability 
                            as a service” for infrastructures in the Internet of Things.</p></li>

                    <li><b><a class="link-dark" href="https://oeg-upm.github.io/easytv-onto/OnToology/ontology/core.ttl/documentation/index-en.html">EASYTV</a></b><br>
                        <p>EasyTV is a H2020 European project which main goal is to provide equal access to television and audio-visual services to that all users, 
                            especially persons with disabilities and users with special needs.</p></li>

                    <li><b><a class="link-dark" href="https://kg-construct.github.io/rml-resources/portal/">W3C RML ontologies</a></b><br>
                        <p>The RML Ontology Modules are being developed by W3C Community Group on Knowledge Graph Construction to define the RDF Mapping Language (RML) specification.</p></li>

                    <li><b><a class="link-dark" href="https://github.com/w3c/wot-discovery/tree/main/context">W3C WoT discovery ontology</a></b><br>
                        <p>The WoT discovery ontology has been developed to enrich Thing Descriptions with information about their registration into a Thing Directory. To this end, the WoT discovery ontology extends the Thing Description ontology and the DID ontology. Furthermore, to ease the data ingestion along with the ontology two JSON-LD 1.1 contexts have been  developed.</p>
                        </li>

                    <li><b><a class="link-dark" href="https://digitalconstruction.github.io/v/0.5/index.html">DiCon ontology network</a></b><br>
                        <p>The Digital Construction Ontologies (DiCon) are an enabler for the semantic interoperability between systems in the construction and renovation domain built by the BIM4EEB EU project.</p>
                        </li>

                    <li><b><a class="link-dark" href="https://coswot.gitlab.io/">CosWOT project</a></b><br>
                        <p> French national project aiming at proposing a distributed WoT-enabled software architecture embedded on constrained devices.</p>
                        </li>

                    <li><b><a class="link-dark" href="http://www.elzeard.co/ontologies/c3po/plant#">D2KAB project</a></b><br>
                        </li>

                    <li><b>Integration within <a class="link-dark" href="https://github.com/Mat-O-Lab/MSEO"> Mat-o-Lab </a> software</b><br>
                        </li>

                    <li><b><a class="link-dark" href="https://oeg-upm.github.io/devops-infra/index"> ICT infraestructure ontologies </a></b><br>
                        <p>The ICT infraestructure ontology network was created with the purpose of serving as an initial step towards an homogeneous representation of DevOps, and which has been already used to produce a knowledge graph for a large ICT company.</p>
                        </li>

                    <li><b><a class="link-dark" href="http://vocab.ciudadesabiertas.es/def/transporte/autobus/1.0.1"> Public transport ontologies </a></b><br>
                        <p>This vocabulary represents the information of the urban bus public transport system in Spain. The international standard TransModel which contains the model for the exchange of transport information between companies, operators or transport authorities of the European Union member states has been reused in this ontology. According to regulation 2017/1926 which follows the European directive 2010 on intelligent transport services ITS (Intelligent Transport System) any authority, operator or company of land transport services must offer their data in formats compatible with Transmodel from December 2019.</p>
                        </li>

                </ul>

            <h3 class="pt-4 pb-2">Publications</h3>
            <ul>
                <li>2022  (Main reference for Chowlk converter) : Chávez-Feria, Serge, Raúl García-Castro, and María Poveda-Villalón. 
                    “Chowlk: from UML-based ontology conceptualizations to owl.” The Semantic Web: 19th International Conference, 
                    ESWC 2022, Hersonissos, Crete, Greece, May 29–June 2, 2022, Proceedings. Cham: Springer International Publishing,
                     2022.</li>

                <li>2023 (workshop paper about the Chowlk notation):Poveda-Villalón, María, Serge Chávez-Feria, Sergio Carulli-Pérez, and Raúl García-Castro. "Towards a UML-based notation for OWL ontologies." VOILA2023 workshop collocated with International Semantic Web Conference. 2023.</li>

                <li>2020 (Demo paper about the Chowlk converter): Chávez-Feria, Serge, Raúl García-Castro, and María Poveda-Villalón. “Converting UML-based ontology 
                    conceptualizations to OWL with Chowlk.” The Semantic Web: ESWC 2021 Satellite Events: Virtual Event, June 6–10,
                     2021, Revised Selected Papers. Cham: Springer International Publishing, 2021. 44-48.</li>

            </ul>

            <h3 class="pt-4 pb-2">References</h3>
            <ul>
                <li>The Chowlk specification is an evolution of the diagraming guidelines provided at <a class="link-dark" href="https://arxiv.org/abs/2003.13084">“Garijo, Daniel, and María Poveda-Villalón. 
                    Best Practices for Implementing FAIR Vocabularies and Ontologies on the Web. arXiv preprint arXiv:2003.13084 (2020)”</a> which are based on the UML_Ont profile define in the NeOn project.

                </li>
            </ul>

            <h3 class="pt-4 pb-2">Acknowledgement</h3>
            <ul>
                <li>This work has been partially supported by the COGITO project funded from the European Union’s Horizon
                     2020 research and innovation programme under grant agreement no. 958310.</li>

                <li>This work has been supported by the BIMERR project funded from the European Union’s Horizon 2020
                    research and innovation programme under grant agreement no. 820621.
                </li>
                
                <li>This work has been partially supported by the Spanish National project KnowledgeSpaces: Técnicas y
                     herramientas para la gestión de grafos de conocimientos para dar soporte a espacios de 
                     datos (PID2020-118274RB-I00).</li>
            </ul>

        </div>
        

    </section>

    <!--Footer-->
    <footer class="footer py-2">
        <div class="container">
            <hr>
            <div class="row">
                <div class="col">
                    <p>María Poveda-Villalón <br>
                    Contact email: chowlk@delicias.dia.fi.upm.es <br>
                    Latest revision: April, 2024 <br>
                    Licensed under the <a href="https://www.apache.org/licenses/LICENSE-2.0.html">Apache License 2.0</a></p>
                </div>
                <div class="col-3 ms-auto">
                    <a href="https://oeg.fi.upm.es/" target="_blank"><img class="footer-logo" src="static/images/logos/oeg-logo.gif" alt=""></a>
                    <a id="fi-logo" href="https://www.fi.upm.es/" target="_blank"><img class="footer-logo" src="static/images/logos/fi-logo.png" alt=""></a>
                    <a href="https://www.upm.es/" target="_blank"><img class="footer-logo" src="static/images/logos/upm-logo.png" alt=""></a>
                </div>
            </div>
        </div>
    </footer>

</body>
</html>
