<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
    />
    <link rel="stylesheet" href="static/css/new_style.css" />
    <link rel="stylesheet" href="static/css/ecai2024.css" />

    <title>Chowlk | FOIS2024 tutorial</title>
  </head>

  <body>
    <div class="row">
      <div id="toc" class="col-3 pt-4 d-none d-xl-block bg-light px-5">
        <div class="container">
          <h4 class="text-secondary pb-2">Table of Contents</h4>

          <div id="toc-ontologists">
            <p><a href="#description">1. Description </a></p>
            <p><a href="#speakers">2. Speakers</a></p>
            <p><a href="#schedule">3. Schedule (TBD)</a></p>
          </div>
        </div>
      </div>

      <div id="content" class="col-12 col-xl-9 px-0 ms-auto">
        <!--Navbar-->
        <header>
          <nav class="navbar navbar-expand-lg navbar-light py-3 text-dark">
            <div class="container">
              <a class="navbar-brand" href="index">
                <img
                  id="logo"
                  src="static/images/logos/logo.png"
                  alt="Chowlk logo"
                />
              </a>
              <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto fw-bold mx-4">
                  <li class="nav-item">
                    <a class="nav-link" href="index">Converter</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="notation">Notation</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="examples">Examples</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="about">About</a>
                  </li>
                </ul>
                <a href="https://github.com/oeg-upm/Chowlk" target="_blank"
                  ><i class="bi bi-github h4 text-dark"></i
                ></a>
              </div>
            </div>
          </nav>
        </header>

        <!--Showcase-->
        <section class="showcase pt-5 px-5 text-light">
          <div class="container">
            <h1 id="title" class="pt-5 pb-2">
              Generating ontology conceptualizations and pattern libraries with CHOWLK
            </h1>
            <p class="lead pb-4">
              Tutorial at
              <a href="https://www.utwente.nl/en/eemcs/fois2024/program/tutorials/#generating-ontology-conceptualization-and-pattern-libraries-with-chowlk"
                >FOIS 2024</a
              >
            </p>
          </div>
        </section>

        <section id="description" class="pt-3 px-5">
          <div class="container">
            <h4>1. Description</h4>
            <p>
              Ontology conceptualization is a key activity as it drives the final implementation. Usually, developers generate graphical representations to carry out this activity as it is more convenient to provide an overall idea of the model, and it is a powerful tool to communicate with domain experts. While the conceptualization might be independent of the implementation language, it is advisable to use a notation as close as possible to the ontology implementation language to avoid ambiguity and reduce effort during the implementation. To this end, the <a href="https://chowlk.linkeddata.es/">Chowlk framework</a>  provides a <a href="https://ceur-ws.org/Vol-3508/paper2.pdf">UML-based notation</a> (published at VOILA23) and a <a href="https://doi.org/10.1007/978-3-031-06981-9_20">converter</a> (published at ESWC22) in order to conceptualize and implement OWL ontologies graphically.
            </p>

            <p>
              This tutorial’s learning outcomes are: 1) to know the Chowlk framework resources available; 2) to know how to use the Chowlk notation to represent OWL ontologies and the converter to generate the ontology OWL code; and 3) to learn how to use draw.io to generate their own patterns libraries.
            </p>

            <p>It is advisable for attendees to bring their laptops and have installed <a href="https://www.drawio.com/">draw.io</a> and optionally <a href="https://protege.stanford.edu/software.php#desktop-protege">Protégé</a>. </p>
          </div>
        </section>

        <section id="speakers" class="pt-3 px-5">
          <div class="container">
            <h4>2. Speakers</h4>

            <h5>María Poveda-Villalón</h5>
            <h6>mpoveda (at) fi.upm.es</h6>
            <div class="circular--square">
              <img
                src="static/images/ecai2024/mpoveda.jfif"
                alt=""
              />
            </div>
            <p class="justify">
              Dr. María Poveda-Villalón is an associate professor at the
              Artificial Intelligence Department of the Universidad Politécnica
              de Madrid and is also part of the Ontology Engineering Group
              research lab. Her research activities focus on Ontological
              Engineering, Ontology Evaluation, Knowledge Representation and the
              Semantic Web. Previously she finished her studies in Computer
              Science (2009) by Universidad Politécnica de Madrid, and then she
              moved to study the Artificial Intelligence Research Master
              finished in 2010 in the same university. She has contributed to
              the ontology engineering field developing methodologies and tools
              like OOPS! (Ontology Pitfall Scanner!) which has been broadly
              adopted by the community, the LOT methodology for building
              ontologies and the Chowk framework for ontology conceptualization
              and implementation. She has worked in the context of Spanish
              research projects as well as in European. She has contributed to
              the organization of the "Linked Data in Architecture and
              Construction Workshop" since 2015 edition, the "13th OWL:
              Experiences and Directions Workshop and 5th OWL reasoner
              evaluation workshop" in 2016, the Workshop on Ontology Patterns
              (WOP) in 2019 and 2022, the "Linked Energy Data Vocamp" in 2015
              and she has organized the 2nd Summer School of Linked Data in
              Architecture and Construction. Finally, she is part of the W3C Web
              of Things Working Group. Her teaching activities involve teaching
              semantic web and ontological engineering in different courses at
              official degrees, masters courses, MOOCs and online masters as
              well to deliver courses to the administration and private
              companies. She has carried out similar tutorials as “Catching up
              with ontological engineering. To git-commit and beyond” at
              EKAW2018 and “Integrating ontological development with software
              engineering trends” FDL2019.
            </p>

            <h5>Raúl García-Castro</h5>
            <h6>rgarcia (at) fi.upm.es</h6>
            <div class="circular--square">
              <img
                src="static/images/ecai2024/rgarcia.jfif"
                alt=""
              />
            </div>
            <p class="justify">
              Raúl García-Castro is Associate Professor in the Artificial
              Intelligence Department at Universidad Politécnica de Madrid
              (UPM). Having spent three years working as a software engineer,
              since he graduated in Computer Science in 2003 he has been working
              at UPM in the Ontology Engineering Group in more than twenty
              European and Spanish research projects, being Principal
              Investigator in six of them. His research focuses on ontological
              engineering, ontology-based application integration, and semantic
              interoperability. He has authored more than 150 publications and
              regularly participates in standardization and in the conferences
              and workshops that are most relevant in his field. He has a strong
              interest and expertise in ontological engineering, where he has
              contributed in topics such as ontological engineering
              methodologies (with the Linked Open Terms methodology), ontology
              testing (with the Themis suite), or ontology visualization (with
              the Chowlk notation). Furthermore, he has developed ontologies in
              many projects and in standardization bodies (W3C, ETSI). His
              teaching activities involve teaching semantic web and ontological
              engineering in differentcourses at official degrees, masters
              courses, MOOCs and online masters as well to deliver courses to
              the administration and private companies.
            </p>

            <h5>Sergio Mario Carulli-Pérez</h5>
            <h6>sergiomario.carulli.perez (at) upm.es</h6>

            <div class="circular--portrait">
              <img src="static/images/ecai2024/scarulli.png" alt="" />
            </div>
            <p class="justify">
              Sergio Mario Carulli-Pérez studied at the Universidad Politécnica
              de Madrid (UPM), where he graduated in Mathematics and Computer
              Science. Furthermore, not satisfied with his studies, he also
              obtained a master's degree in Data Science at the UPM. After
              finishing the master's degree, he started working as a researcher
              at the Ontology Engineering Group (OEG), which is a laboratory
              affiliated to the UPM where he has been working since 2022. His
              responsibilities include developing ontologies to support
              artificial intelligence integration and working as a full stack
              developer providing different services for the OEG. In the field
              of ontology development, he has developed an extension to the
              Smart Appliances REFerence (SAREF) ontology called SAREF4GRID
              (https://saref.etsi.org/saref4grid/), which is an extension for
              the electric grid domain. Moreover, in the full stack developer
              field, he has developed Chowlk, an application that allows to
              create the OWL implementation of an ontology from its
              conceptualisation.
            </p>
          </div>
        </section>

        <section id="schedule" class="pt-3 px-5">
          <div class="container">
            <h4>3. Schedule</h4>
            <p> The tutorial will be organized in 2 sessions: </p>

              <ul>
                  <li>16:00 - 16:45: Introduction to the resources available and how to use them (learning outcomes 1 and 2)</li>
                  <li>16:45 - 17:30: Creation of ontology pattern libraries (learning outcome 3)</li>
              </ul>
          </div>
        </section>

        <!--Footer-->
        <footer class="footer py-2">
          <div class="container">
            <hr />
            <div class="row">
              <div class="col">
                <p>
                  María Poveda-Villalón <br />
                  Contact email: chowlk@delicias.dia.fi.upm.es <br />
                  Latest revision: June, 2024 <br />
                  Licensed under the
                  <a href="https://www.apache.org/licenses/LICENSE-2.0.html"
                    >Apache License 2.0</a
                  >
                </p>
              </div>
              <div class="col-3 ms-auto">
                <a href="https://oeg.fi.upm.es/" target="_blank"
                  ><img
                    class="footer-logo"
                    src="static/images/logos/oeg-logo.gif"
                    alt=""
                /></a>
                <a id="fi-logo" href="https://www.fi.upm.es/" target="_blank"
                  ><img
                    class="footer-logo"
                    src="static/images/logos/fi-logo.png"
                    alt=""
                /></a>
                <a href="https://www.upm.es/" target="_blank"
                  ><img
                    class="footer-logo"
                    src="static/images/logos/upm-logo.png"
                    alt=""
                /></a>
              </div>
            </div>
          </div>
        </footer>
      </div>
    </div>
  </body>
</html>
