{% extends "bootstrap/base.html" %}
{% block title %} Chowlk {% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" >
{% endblock %}

{% block content %}

<header>
    <a href="{{url_for('home')}}"><img id="logo" src="{{ url_for('static', filename='resources/logo.png') }}"></a>
    <button type="button" onclick="window.location.href='https://chowlk.linkeddata.es/chowlk_spec'" class="btn btn-primary btn-md">Chowlk Notation</button>
</header>
<div class="container-fluid" id="banner">
    <div class="jumbotron">
        <h1 class="display-4 text-center">Chowlk Code Generation Service</h1>
        <hr class="my-4">
        <p class="lead text-center">Chowlk is a web service that automatically generates the OWL code from your Ontology 
            Diagram made with <a href="https://www.diagrams.net/">diagrams.net</a>
        </p>
    </div>
</div>


<div class="container" id="main-container">
    {% if ttl_data %}
        <p><b>Conversion Successful!</b></p>
    {% else %}
        <h3>Error Message</h3>
        <p>Please follow the notation provided at <a href="https://chowlk.linkeddata.es/chowlk_spec">Chowlk Visual Notation</a>.<br>
            Check the diagram with the errors highlighted in red. Use <a href="https://www.diagrams.net/">diagrams.net</a> to load the diagram 
            and see where is the error.</p>
       <a href="{{url_for('download', format='diagram')}}">Download Diagram</a> 
    {% endif %}
    {% if ttl_data %}
    <div class="row">
        <div class="container col-xs-6">
            <h3>Code in TTL:</h3>
            <div id="output-container">
                {% for line in ttl_data %}
                    <p class="ttl-line">{{line}}</p>
                {% endfor %}
            </div>
            <a class="btn btn-primary" href="{{url_for('download', format='ttl')}}">Download</a>
        </div>

        <div class="container col-xs-6">
            <h3>Code in RDF/XML:</h3>
            <div id="output-container">
                {% for line in xml_data %}
                    <p class="ttl-line">{{line}}</p>
                {% endfor %}
            </div>
            <a class="btn btn-primary" href="{{url_for('download', format='xml')}}">Download</a>
        </div>
    </div>

    {% endif %}
</div>


{% endblock %}