{% extends "bootstrap/base.html" %}
{% block title %} Chowlk {% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" >
{% endblock %}

{% block content %}

<header>
    <img id="logo" src="{{ url_for('static', filename='resources/logo.svg') }}">
    <button type="button" onclick="window.location.href='https://chowlk.linkeddata.es/chowlk_spec'" class="btn btn-primary btn-md">Chowlk Notation</button>
</header>
<div class="container-fluid" id="banner">
    <div class="jumbotron">
        <h1 class="display-4 text-center">Chowlk Code Generation Service</h1>
        <hr class="my-4">
        <p class="lead text-center">Chowlk is a web service that automatically generates the OWL code from your Ontology 
            Diagram made with <a href="https://www.diagrams.net/">diagrams.net</a>
        </p>
    </div>
</div>

<div class="container" id="main-container">
    <h3>OWL Code in TTL:</h3>
    <div id="output-container">
        {% for line in data %}
            <p class="ttl-line">{{line}}</p>
        {% endfor %}
    </div>
</div>

{% endblock %}